.form {
  &__group {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &-main,
    &-secondary {
      display: flex;
      align-items: center;
    }

    &-main {
      justify-content: space-between;
    }
  }

  &__label {
    @include text-label(14, 8);
  }

  &__input-status {
    @include text-link(12, 8, false);
  }

  &__input-icon-left {
    left: fluid(8, 3);
  }

  &__input {
    height: fluid(47, 20);

    border-radius: var(--border-radius-xxxs);
    background-color: var(--color-background-input-main);
    border: none;
    width: 100%;
    padding: 5px;
    padding-left: 36px;

    &:hover {
      border: 1px solid var(--color-border-input-second);
    }

    &:active {
      border: 1px solid var(--color-border-input-second);
    }

    &:focus {
      border: 1px solid var(--color-border-input-second);
    }

    &--filled {
      border: 1px solid var(--color-border-input-filled);
    }

    &--success {
      color: var(--color-border-input-filled);
    }

    &--error {
      border: 1px solid var(--color-border-input-error);
      color: var(--color-border-input-error);
    }

    &--disabled-success {
      border: 1px solid var(--color-border-input-disabled-success);
    }

    &--disabled-error {
      border: 1px solid var(--color-border-input-disabled-error);
    }

    &:disabled {
      border: 1px solid var(--color-border-input-disabled-normal);
      background-color: var(--color-background-input-second);
    }
    &:checked {
      background-color: red;
    } // длля чекбокса

    &::placeholder {
      color: var(--color-text-secondary);
    }
  }

  &__forgot-password {
    @include text-main(14, 8, 300);
    display: inline-block;
    text-decoration: underline;
    white-space: nowrap;
  }

  &__checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;

    &-input {
      @include square(16px);
      cursor: pointer;
      accent-color: var(--color-background-button-primary);
    }

    &-label {
      @include text-main(12, 8, 300);
    }
  }

  &__message {
    @include text-helper(12, 8);
    color: var(--color-helper-text);
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding-top: 5px;
  }
}

.text-error {
  color: var(--color-border-input-error);
}

.text-success {
  color: var(--color-border-input-filled);
}
