.greeting {
  background: url("../../assets/images/greeting-bg.webp") center / cover
    no-repeat;

  @include card-border;


&__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}

&__text {
  margin-bottom: 24px;
  color: var(--color-text-button-primary);
}
}
