html {
  &.is-lock {
    overflow: hidden;
  }
}

.container {
  border: solid 1px red;
}


* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--font-family-headline);
  line-height: 150%;
}

h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: fluid(24, 12);
  font-weight: 500;
}

h2,
.h2 {
  font-size: fluid(22, 14);
}

h3,
.h3 {
  font-size: fluid(22);
}

h4,
.h4 {
  font-size: fluid(18);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: fluid-text(16);
  line-height: 130%;

  cursor: pointer;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
    color: black;
  }
}

:focus-visible {
  @include focus-visible;
}

// .header,
// .content > *:not(:nth-last-child(2)),
// .footer {
//   display: none !important;
// }
